<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recharge.backend.community.nav.dao.NavDAO">

    <!-- 이전 글 -->
    <select id="getPreviousPost" parameterType="long" resultType="com.recharge.backend.community.nav.vo.NavVO">
        SELECT *
        FROM (
        SELECT COMMUNITY_POST_ID AS communityPostId,
        COMMUNITY_TITLE AS communityTitle
        FROM TB_COMMUNITY
        WHERE COMMUNITY_POST_ID &lt; #{communityPostId}
        ORDER BY COMMUNITY_POST_ID DESC
        )
        WHERE ROWNUM = 1
    </select>

    <!-- 다음 글 -->
    <select id="getNextPost" parameterType="long" resultType="com.recharge.backend.community.nav.vo.NavVO">
        SELECT *
        FROM (
        SELECT COMMUNITY_POST_ID AS communityPostId,
        COMMUNITY_TITLE AS communityTitle
        FROM TB_COMMUNITY
        WHERE COMMUNITY_POST_ID > #{communityPostId}
        ORDER BY COMMUNITY_POST_ID ASC
        )
        WHERE ROWNUM = 1
    </select>

</mapper>