.fortune_main{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.fortune_container {
    border: solid 1px rgb(223, 222, 222);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 700px;
    padding: 20px;
}

.fortune_content_row1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.fortune_content_row1_box1,
.fortune_content_row1_box2,
.fortune_content_row1_box3 {
    margin: 10px;
}
.fortune_content_row1_box1 p,
.fortune_content_row1_box2 p,
.fortune_content_row1_box3 p
{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 600;
}
.fortune_content_row2 p
{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}
.fortune_content_row1_box1 select {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid 1px rgb(223, 222, 222);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.fortune_content_row1_box2 select{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid 1px rgb(223, 222, 222);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.fortune_content_row1_box3 select{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid 1px rgb(223, 222, 222);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.fortune_content_row1_box1 select:focus-within,
.fortune_content_row1_box2 select:focus-within,
.fortune_content_row1_box3 select:focus-within{
    border: 2px solid #004E89;
}
.fortune_content_row2,
.fortune_content_row3 {
    margin: 10px;
}
.fortune_content_row2 input[type="date"] {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid 1px rgb(223, 222, 222);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.fortune_content_row2 input[type="date"]:focus {
  border: 2px solid #004E89 !important;
  outline: none;
}
.fortune_btn{
    width: 100%;
    height: 40px;
    background-color: #004E89;
    border-radius: 6px;
    border: solid 1px #004E89;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);    
    color: white;
    font-weight: 430;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.fortune_btn:hover{
   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
   transform: translateY(-3px);
}

.fortune_result{

    max-height: 300px; 
    max-width: 700px;
    overflow-y: auto; 
    padding: 10px 20px; 
    border: solid 1px rgb(223, 222, 222);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 25px;
    background-color: rgb(248, 248, 248);
}