.addmovie_container {
    padding: 1rem 15rem;
    text-align: center;
    background-color: #f8f9f9;
}

.addmovie_addform {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.addmovie_header {
    text-align: left;
    font-size: 1.2rem;
}

.addmovie_search {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.addmovie_search input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    background-color: #f8f9f9;
}

.addmovie_search button {
    border-radius: 6px;
    padding: 0.5rem 1rem;
    border: 1px solid #004e89;
    background-color: #004e89;
    color: white;
    cursor: pointer;
}


.addmovie_searched_movie {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 6px;
    gap: 1rem;
}

.addmovie_title{
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 0.5rem; 
}

.addmovie_poster img {
    border-radius: 6px;
    width: 185px;
    height: 278px;
}

.addmovie_meta {
    flex: 1;
    padding-left: 1rem;
}

.addmovie_meta_row {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    padding-top: 0.3rem;
    align-items: flex-start;
}

.addmovie_meta_chip{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #f3f5f6;
    border-radius: 6px;
    padding: 0.35rem 0.75rem;
    background-color: #e2e7e9;
    line-height: 1.2;
    box-sizing: border-box;
    width: auto;
    color: #67777e;
    gap: 0.5rem;
}

.addmovie_meta_chip strong{
    color: #004e89;
}

.addmovie_content_title {
    margin-top: 1rem;
    display: grid;
    box-sizing: border-box;
    gap: 0.4rem;

}

.addmovie_content_title input{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    background-color: #f8f9f9;
}

.addmovie_content_title span{
    text-align: left;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
}

.addmovie_content_text {
    display: grid;
    box-sizing: border-box;
    margin: 1rem 0;
    gap: 0.5rem;
}

.addmovie_content_text span{
    text-align: left;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
}

.addmovie_content_text textarea{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    font-family: noto-sans-kr;
    resize: none;
    height: 10rem;
    background-color: #f8f9f9;
}

.addmovie_content_btn button{
    border-radius: 6px;
    padding: 0.5rem 1rem;
    border: 1px solid #004e89;
    background-color: #004e89;
    color: white;
    cursor: pointer;
}

.addmovie_search input:focus,
.addmovie_content_title input:focus,
.addmovie_content_text textarea:focus {
    outline: none; 
    border: 1.5px solid #004e89;
    padding: 0.5rem;
}