
.findcontents {
    padding: 1rem 4rem;
    text-align: center;
    background-color: #f8f9f9;
}

.findcontents_link {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.findcontents_btn {
    border: none;
    background-color: #f8f9f9;
    cursor: pointer;
}

.findcontents_btn a{
    text-decoration: none;
    color: inherit;
}

.icon-wrap {
    border: 2px solid #004e89;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 1.3rem;
}
.icon-wrap:hover {
    background-color: #004e89;
    color: white;
    transition: 0.2s;
}

.findcontents_btn span {
    font-size: 1rem;
    font-weight: bold;
}

.findmovie_main img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}


.findcontents_recommendAi {
    margin: 1rem 0;
    padding: 2rem 1rem;
    background: #e9f0fb;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    gap: 5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.findcontents_recommendAi span {
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 24rem;
}
.findcontents_recommendAi button {
    padding: 0.6rem 1.2rem;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: #e9f0fb;
    margin-left: 10rem;
}
.findcontents_recommendAi button:hover {
    background-color: #004e89;
    color: white;
    border-color: #004e89;
}


.findmovie_select_genre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 2rem;
}
.findmovie_select_genre label {
    padding: 8px 18px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background: white;
    transition: 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.findmovie_select_genre label:hover {
    transform: translateY(-10%);
}
.findmovie_select_genre label input[type="checkbox"] {
    display: none;
}
.findmovie_select_genre label:has(input:checked) {
    background-color: #004e89;
    color: white;
    border-color: #004e89;
}


.findmovie_category {
    border-bottom: 2px solid #ccc;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.findmovie_category_title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
}
.findmovie_category_addform a {
    text-decoration: none;
    font-weight: 500;
}
.findmovie_category_addform a:visited {
    color: inherit;
}


.findmovie_weather_movie {
    position: relative;
    margin: 2rem 0;
}
.findmovie_weather_movie:hover .findmovie_slider_btn {
    opacity: 1;
    pointer-events: auto;
}

.findmovie_weather_movie_lists {
    overflow-x: auto;
    display: flex;                 
    gap: 2rem;
    padding-bottom: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: nowrap;
}
.findmovie_weather_movie_lists::-webkit-scrollbar { display: none; }

.findmovie_weather_movie_list {
    flex: 0 0 185px;               
    border-radius: 6px;
    overflow: hidden;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.18);
}

.findmovie_weather_movie_list:hover,
.findmovie_user_movie_list:hover {
    transform: translateY(-10%);
    transition: 0.3s ease;
}

.findmovie_weather_img {
    width: 185px;
    height: 250px;
    object-fit: cover;
}


.findmovie_user_movie {
    position: relative;
    margin: 2rem 0;
}
.findmovie_user_movie:hover .findmovie_slider_btn {
    opacity: 1;
    pointer-events: auto;
}

.findmovie_user_movie_lists {
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 185px;
    gap: 1rem;
    padding-bottom: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.findmovie_user_movie_lists::-webkit-scrollbar { display: none; }

.findmovie_user_movie_list {
    width: 185px;
    border-radius: 6px;
    overflow: hidden;
    background: #004e89;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.18);
}
.findmovie_user_img {
    width: 185px;
    height: 275px;
    object-fit: cover;
    display: block;
}
.findmovie_user_movie_info {
    padding: 12px;
    text-decoration: none;
    color: white;
}


.findmovie_user_movie_info span:first-child {
    font-weight: 700;
    font-size: 1rem;
    display: block;
    text-align: left;
}
.findmovie_user_movie_info span:last-child {
    opacity: 0.9;
    font-size: 0.85rem;
    margin-top: 4px;
    display: block;
    text-align: left;
}

.findmovie_user_movie_list a {
    text-decoration: none;
    color: inherit;
}

.findmovie_user_movie_list a:hover {
    text-decoration: none;
}



.findmovie_slider_btn {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    transition: opacity 0.3s ease;
}
.findmovie_slider_btn.left { left: 0.5rem; }
.findmovie_slider_btn.right { right: 0.5rem; }

.findmovie_slider_btn button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #ccc;
    transition: 0.2s;
}


.findmovie_weather_movie .findmovie_slider_btn button {
    font-size: 3.5rem;
    height: 12rem;
}

.findmovie_user_movie .findmovie_slider_btn button {
    font-size: 5rem;
    height: 20rem;
}

.findmovie_slider_btn button:hover {
    color: #004e89;
}

