.mypage_main {
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.mypage_main h2{
    margin-top:40px;
    margin-bottom: 0;
}
.mypage_container{
    width: 500px;
  
}
.mypage_container p{
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    margin-bottom: 7px;
}
.mypage_container button{
    width: 65px;
    height: 35px;
    background-color: #FCFCFD;
    border-radius: 6px;
    border: solid 1px #004E89;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);    
    color: #004E89;
    font-weight: 430;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.mypage_container button:hover {
    width: 65px;
    height: 35px;
    background-color: #004E89;
    border-radius: 6px;
    border: solid 1px #FCFCFD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);    
    color: #FCFCFD;
    font-weight: 430;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.mypage_container input[type="text"] {
    width: 85%;
    height: 35px;
    border-radius: 6px;
    background-color: #FAFAFA;
    border: solid 1px rgb(238, 235, 235);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 7px;
    box-sizing: border-box;
}
.mypage_row5 input[type="date"] {
    width: 85%;
    height: 35px;
    border-radius: 6px;
    background-color: #FAFAFA;
    border: solid 1px rgb(238, 235, 235);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 7px;
    box-sizing: border-box;
}
.mypage_id{
    width: 100%;
    height: 35px;
    border-radius: 6px;
    background-color: #FCFCFD;
    border: solid 1px rgb(238, 235, 235);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    cursor: not-allowed;
    padding: 7px;
    box-sizing: border-box;
}
.mypage_row1 div{
    font-weight: 490;
    color: #636161;
}

.mypage_btn_box button:first-child {
    width: 68px;
    height: 35px;
    background-color: #004E89;
    border-radius: 6px;
    border: solid 1px #004E89;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);    
    color: white;
    font-weight: 480;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.mypage_btn_box button:last-child {
    width: 68px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 6px;
    border: solid 1px #004E89;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);    
    color: #004E89;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.mypage_btn_box button:last-child:hover {
    width: 68px;
    height: 35px;
    background-color: #004E89;
    border-radius: 6px;
    border: solid 1.5px #004E89;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);    
    color: #FCFCFD;
    font-weight: 430;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.mypage_btn_box{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}