.termsagreement_main{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:39px;
}
.termsagreement_agreebox1{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.termsagreement_agreebox1_textarea {
    width: 500px;
    height: 150px;
    border:solid lightgray 1px;
    border-radius: 6px;
    padding:10px;
}
.termsagreement_agreebox2{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:20px;
}
.termsagreement_agreebox2_textarea {
    width: 500px;
    height: 150px;
    border:solid lightgray 1px;
    border-radius: 6px;
    padding:10px;
}
.termsagreement_agreebox3{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:20px;
    margin-bottom:20px;
}
.termsagreement_agreebox3_textarea {
    width: 500px;
    height: 150px;
    border:solid lightgray 1px;
    border-radius: 6px;
    padding:10px;
}
.move_signup_btn{
  width:150px;
  height:40px;
  background-color: #004E89;
  border: #004E89;
  border-radius: 6px;
  margin-top:30px;
  color:white;
  font-weight:bold;
  cursor: pointer;
}


