.free_main {
    border: red solid 1px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.free_card_container {
    border: solid 1px rgb(223, 222, 222);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    min-width: 700px;
    height: 1000px;
    padding: 20px;
}




.free_card_content {
    min-height: 700px;
    border: solid 2px rgb(25, 186, 255);
}

/* .free_card {
    border: solid 1px rgb(223, 222, 222);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    min-width: 700px;
    height: 1000px;
    padding: 20px;
}
.free_content_box {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid 1px rgb(223, 222, 222);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.free_title {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: solid 1px rgb(223, 222, 222);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.free_content {
    width: 100%;
    height: 800px;
    border-radius: 6px;
    border: solid 1px rgb(223, 222, 222);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
} */
