html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app_wrapper {
  max-width:1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

.app_main {
  flex: 1;
  position: relative;
  overflow-y: auto;
}


