
.admin_nav_container {
    position: fixed;
    width: 150px;
    background: #032B48;
    padding: 10px 10px;
    height: 100%;
}

.admin_nav_container h2 {
    color: white;
}

.admin_content_nav {
    list-style: none;
}

.admin_content_nav li {
    margin-bottom: 10px;
}

.admin_content_nav a {
    display: block;
    padding: 12px 0px;
    margin-left: -20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.NoticeManagement_main_content {
    padding-left: 300px;
    padding-top: 10px;
}


.NoticeManagement_form1 input[type="text"] {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid black;
    background-color: white;
    height: 30px;
    width: 30%;
    border-radius: 4px;           
    box-sizing: border-box;
}

.NoticeManagement_form1 button {
    height: 30px;           
    box-sizing: border-box;
    border: 1px solid #474646;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#NoticeManagement_search {
    color: black;
    margin-left: 10px;
    width: 50px;
}
#NoticeManagement_modify {
    color: blue;
    border: 1.5px solid #0000ff;
    border-radius: 4px;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

#NoticeManagement_delete{
    border: 1.5px solid #f14122;
    color: #f14122;
    border-radius: 4px;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}
#write_btn {
         
    box-sizing: border-box;
    border: 1px solid #474646;
    border-radius: 4px;
    color: white;
    background-color: #032B48;
    margin-right: 5%;
    float: right;
}

.NoticeManagement_table {
    margin-top: 20px;
    width: 95%;
    border-top: solid 2px #7C838A;
    border-bottom: solid 2px #7C838A;
    border-collapse: collapse;
    text-align: center;
    
}

.NoticeManagement_table th,
.NoticeManagement_table td {
    border: 1px solid #7C838A;  /* 모든 칸에 테두리 */
    padding: 2px;
}

.NoticeManagement_table td{
    min-height: 40px;
    padding: 4px;
}

.NoticeManagement_table tbody td:nth-child(2) {
    text-align: left;
    padding-left: 20px;

}
#NoticeManagement_table_No{
    width: 10%;
}
#NoticeManagement_table_title{
    width: 50%;
}
#NoticeManagement_table_date{
    width: 20%;
}
#NoticeManagement_manage {
    width: 40%;
}
