.admin_logo {
    width: 70%
}

.admin_nav_container {
    position: fixed;
    width: 200px;
    background: #032B48;
    padding: 10px 30px;
    height: 100%;
}

.admin_nav_container h2 {
    color: white;
}

.admin_content_nav {
    list-style: none;
}

.admin_content_nav li {
    margin-bottom: 10px;
}

.admin_content_nav a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.PostManagement_main_content {
    padding-left: 300px;
    padding-top: 10px;
}


.PostManagement_form1 select {
    padding-left: 10px;
    font-size: 1rem;
    border: 1px solid black;
    background-color: white;
    height: 30px;
    width: 20%;
    border-radius: 4px;           
    box-sizing: border-box;
}

.PostManagement_form1 button {
    height: 30px;           
    box-sizing: border-box;
    border: 1px solid #474646;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#PostManagement_view_btn {
    color: black;
    margin-left: 10px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

#PostManagement_delete{
    border: 1.5px solid #f14122;
    color: #f14122;
    border-radius: 4px;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}
#write_btn {
         
    box-sizing: border-box;
    border: 1px solid #474646;
    border-radius: 4px;
    color: white;
    background-color: #032B48;
    margin-right: 5%;
    float: right;
    height: 30px;
}

.PostManagement_table {
    margin-top: 20px;
    width: 95%;
    border-top: solid 2px #7C838A;
    border-bottom: solid 2px #7C838A;
    border-collapse: collapse;
    text-align: center;
    
}

.PostManagement_table th,
.PostManagement_table td {
    border: 1px solid #7C838A;  /* 모든 칸에 테두리 */
    padding: 2px;
}

.PostManagement_table td{
    min-height: 40px;
    padding: 4px;
}

.PostManagement_table tbody td:nth-child(2) {
    text-align: left;
    padding-left: 20px;
}
#PostManagement_table_No{
    width: 10%;
}
#PostManagement_table_title{
    width: 45%;
}
#PostreManagement_table_date{
    width: 20%;
}
#PostManagement_table_writer{
    width: 15%;
}
#PostManagement_manage {
    width: 10%;
}
