

.admin_nav_container {
    position: fixed;
    width: 200px;
    background: #032B48;
    padding: 10px 30px;
    height: 100%;
}

.admin_nav_container h2 {
    color: white;
}

.admin_content_nav {
    list-style: none;
}

.admin_content_nav li {
    margin-bottom: 10px;
}

.admin_content_nav a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
