.noticeboard_board-header h2 {
  font-size: 26px;
  color: #000000;
}

.noticeboard_write-container {
  max-width: 72%;
  border-radius: 8px;
  text-align: left;
  padding-left: 300px;
  padding-top: 10px;
 
}

/* 상단 두 줄 제목 */
.noticeboard_write-header {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 10px 10px;
  text-align: center;
}



/* 입력 폼 영역 */
.noticeboard_write-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 2px solid #000;
}

/* 제목 입력 */
.noticeboard_write-title {
  width: 100%;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

/* 본문 입력 */
.noticeboard_write-textarea {
  width: 100%;
  height: 350px;
  padding: 8px;
  border:none;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
  outline: none;
}

/* 이미지 업로드 영역 */

.noticeboard_write-imagebox-container{
  display: flex;
  flex-direction: column;
  align-items : flex-end;
  gap: 10px;
  margin-top: 20px;
}

.noticeboard_image-label {
  background: #004e89;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.3s;
  
}

.noticeboard_image-label:hover {
  opacity: 0.9;
}

.noticeboard_preview-image {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* 등록 버튼 */
.noticeboard_submit-container{
  display: flex;
  justify-content:center;
  margin-top: 20px;
}

.noticeboard_submit-btn {
  background: #004e89;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  width: 200px;
  transition: opacity 0.3s;
}

.noticeboard_submit-btn:hover {
  opacity: 0.9;
}